/*



body {
    background:#B0C4DE;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background: #E6E6FA;
    border-radius:25px;
}

.assignment img {
    width:200px;
    margin:10px;
    border:3px solid #191970;
}

.assignment img:hover {
    border:3px solid #B0E0E6;
}

h1{
    color: #2F4F4F;
    text-align: center;
}

a {
    text-decoration:none;
    color: #191970;
}

a:hover {
    color: #B0E0E6;
}

*/